# Database
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=billing_challenge

# Application
PORT=3000
NODE_ENV=development

# JWT (para autenticación con Cognito o mock)
JWT_SECRET=your-secret-key-change-in-production
JWT_EXPIRES_IN=24h

# Auth (Mock o Cognito)
MOCK_AUTH=true
COGNITO_JWKS_URI=
COGNITO_ISSUER=
COGNITO_AUDIENCE=
